 <section class="welcome-title">
    <h2>Welcome to Hidden Gym, {{currentUser.username}}!</h2>
    <h3>HIDDEN GYMS IN BARCELONA- </h3>
 </section>


<section class="gyms-list">
    {{#each gyms}}
        <li>
            <a href="/gyms/{{_id}}/details">
            <img src="./images/location.png">
            <h3>{{address}}</h3>
            <p>Rating: {{averageRating}}</p>
            </a>
        </li>
    {{/each}}
</section>