<h3>GYMS:</h2>
​
<h2>Welcome {{currentUser.username}} !!!</h2>
<p>Here you will find a list of gyms available in Barcelona</p>
<ul>
    {{#each gyms}}
        <li>
            <a href="/gyms/{{_id}}/details">
                <p>{{address}}</p>
                <p>{{creator}}</p>
                
            </a>
        </li>
    {{/each}}
    
</ul>



