 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
 <div>
    {{#unless currentUser}}
      <section class='event'  id='event'>
      <div class='cell well'>
       
        <div class='event-content'>
        <img class="img-splash" src="./images/hiddengymlogo.png" alt='GemAnimation' id='GemAnimation' width='200' />
         
         
        </div>
      </div>
    </section>>
      

      <section class="titles-splash">
        <div>
          <p>Find one near you!</p>
        </div>
      </section>
        
      <section class="main-buttons-section container">

          <a class="main-buttons-section" href="/auth/signup">SIGNUP</a>
        
          <a class="main-buttons-section" href="/auth/login">LOGIN</a>
        
      </section>
    {{/unless}}
</div>

