 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
 <div>
    {{#unless currentUser}}
      
      <img class="img-splash" src="./images/pullup.png">
      

      <section class="titles-splash">
        <div>
          <h2>Hidden Gym</h2>
          <h3>Hidden Gym is the simplest way to find outdoor gyms in Barcelona</h3>
        </div>
      </section>
        
      <section class="buttons-section">
        <div>
          <a href="/auth/signup">SIGNUP</a>
        </div>
        <div>
          <a href="/auth/login">LOGIN</a>
        </div>
      </section>
    {{/unless}}
</div>

