 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
 <div>
    {{#unless currentUser}}
      
      <img class="img-splash" src="./images/newlogo.png">
      

      <section class="titles-splash">
        <div>
          
          <h2>The simplest way to find outdoor gyms in Barcelona</h2>
        </div>
      </section>
        
      <section class="main-buttons-section container">

          <a class="main-buttons-section" href="/auth/signup">SIGNUP</a>
        
          <a class="main-buttons-section" href="/auth/login">LOGIN</a>
        
      </section>
    {{/unless}}
</div>

