<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
     
    {{#if currentUser}}
      <ul>
        <li>
          <form action="/auth/logout" method="POST">
            <button type="submit">Logout</button>
          </form>
        </li>
        <li>
          <a href="/gyms">Hidden Gyms</a>
        </li>
        <li>
          <a href="/gyms/create">Add A Gym</a>
        </li>
      </ul>
    {{/if}}
    {{{body}}}
  </body>
</html>
