<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
      {{#if currentUser}}
        <div class="dropdown">
          <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
              <a href="/gyms">Hidden Gyms</a>
              <a href="/gyms/create">Add A Gym</a>
              <form action="/auth/logout" method="POST">
              <button type="submit">Logout</button>
              </form>
            </div>
        </div>
       {{/if}}
    {{{body}}}

  </body>
</html>
