<section class="login-signup-display">

<h2>Welcome Back!</h2>
<div id="parent_login_signup">
<form id="form_login_signup" action="/auth/login" method="POST">
    <label for="username">USERNAME</label>
    <input type="text" name="username" id="username" required>
    <br>
    <label for="password">PASSWORD</label> 
    <input class type="password" name="password" id="password" required>
    <br>
    <button type="submit">LOGIN</button>
</form>
</div>


<section>
<div>
</div>
<div>
    <a href="/auth/signup">Don't have an account?</a>
</div>
</section>

</section>