<h2>LOGIN</h2>
<form action="/auth/login" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required placeholder="Username">
    <label for="password">Password</label> 
    <input type="password" name="password" id="password" required placeholder="Password">
    <button type="submit">Login</button>
</form>
<div>
    <a href="/auth/signup">Don't have an account?</a>
</div>