<section class="login-signup-display">
<h2>Join us!</h2>
<div id="parent_login_signup">
<form id="form_login_signup" action="/auth/signup" method="POST">
    <label for="username">USERNAME</label>
    <input type="text" name="username" id="username" required placeholder="Username">
    <br>
    <label for="password">PASSWORD</label> 
    <input type="password" name="password" id="password" required placeholder="Password">
    <br>
    <button type="submit">Sign Up!</button>
</form>
</div>
<section class="signup-login-button">
<div>
    <a href="/auth/login">Already have an account?</a>
</div>

</section>
</section>

