

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  
}




body {
  color: var(--secondary-color);
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  background-image: url("../images/backgroundtexture.jpg");
  background-repeat: repeat;
  background-color: #cccccc;

  min-height: 100%;

}
:root {
  --color: #c7af6b;
  --main-color: #2D2828;
  --secondary-color: whitesmoke;
  --tertiary-color: darkred;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background: 
}


form label {
	font-size:19px;
  color: black;
  background: #bbb;
	cursor:pointer;
}



/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header {
  background-color: whitesmoke;
}
.page-header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.page-header img {
  height: 50px;
  margin-right: 10px;
  margin-top: 2px;

}







/* 
 /* --- DROPDOWN MENU --- */
.dropbtn {
  background-color: var(--secondary-color);
  color: var(--main-color);
  padding: 16px;
  font-size: 18px;
  font-family: 'Aldrich', sans-serif;
  border: none;
  cursor: pointer;
}
/*  container <div> -positions it */
.dropdown {
  position: relative;
  display: inline-block;
}
/* content in the dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--secondary-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/*  color on hover */
.dropdown-content a:hover {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}

/* the dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the bg of dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--tertiary-color);
}




/* ---- typography ---- */

h1 {
font-size: x-large;
}

h2 {
  color: var(--tertiary-color);
}

h3 {
  color: var(--main-color);
  background: var(--secondary-color)
}

p {
  margin: 10px;
  color: var(--secondary-color)
}




/* ---- SPLASH PAGE ---- */

.img-splash {
  display: flex;
  margin-left: auto;
  margin-right: auto;

  width: 50%; 
  height: 50%; 
  object-fit: contain; 

}
img.rounded-corners {

  border-radius: 30px;

}
.titles-splash {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 20em
}
@keyframes slide {
  0%, 100% { transform: rotate(-30deg); }
  20% {transform:scale(.95);}
  50% { transform: rotate(30deg); }
  80% {transform:scale(.95);}
}

#GemAnimation {
  animation: slide 2s infinite ease-in-out;
}

.event{
  margin:50px auto;
  text-align:center;
}
.main-buttons-section.container {
  background: transparent;
  box-shadow: none;
}
.main-buttons-section {
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border: none;
  background-color: #c1272e;
  box-shadow: 0 5px 0 black;
  color: whitesmoke;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
}
 a.main-buttons-section:hover {
  background-color: #ce0606;
}

a.main-buttons-section:active {
  box-shadow: none;
  color: rgb(109, 109, 39);
  top: 5px;
}




/* ---- LOGIN AND SIGN UP PAGES ---- */
.login-signup-display {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 20em;
      color: black;
      background: transparent;
}
#parent_login_signup {
  display: table;
  width: 100%;
}

#form_login_signup { 
  display: table-cell;
  vertical-align: middle;
  margin:10% auto 0 auto;
	padding:30px;
	width:400px;
	height:auto;
  overflow: hidden;
  background: #c1272e;
  box-shadow: 0 37px 0 black;
	border-radius:20px;
}
#form_login_signup label {
	font-size:14px;
	color:black;
	cursor:pointer;
}

#form_login_signup label,
#form_login_signup input {
	float:left;
	clear:both;
}
#form_login_signup input {
	margin:15px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid #bbb;
	border-radius:20px;
  display:inline-block;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
    -webkit-transition:0.2s ease all;
	   /* -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all; */
}

#form_login_signup input[type=text]:focus,
#form_login_signup input[type="password"]:focus {
	border-color:cornflowerblue;
}

button[type=submit] {
	padding:15px 50px;
	width:auto;
  background: black;
  font-family: 'Press Start 2P', cursive;
	border:none;
	color:white;
	cursor:pointer;
	display:inline-block;
	float:right;
	clear:right;
	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

button[type=submit]:hover {
	opacity:0.8;
}

button[type="submit"]:active {
	opacity:0.4;
}



/* ---- GYMS LIST PAGE ---- */
.welcome-title {
  display: flex;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  
  background: #8b00009c;
  padding: 20px;
}
 .details-title {
  margin: 0 auto;
  width: 100%;
  background: #8b00009c;
  padding: 20px;

}
/* TITLES WITH BARS */
h2 {
  color: var(--secondary-color);
  position: relative;
  background: black;
}
h2:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: -9999px;
	right: 0;
	border-left: 9999px solid black;
	box-shadow: 9999px 0 0 black;
}


.gyms-list-gallery {
  display: grid;


}
.gyms-list-gallery ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0%; 
  margin: 0%;
  
}
.gyms-list-gallery li {
  padding: 0%; 
  margin: 0%;
  width:350px;
  
}

.gyms-list-gallery img {
  min-width: 100%;
  height: 238px;
  border-radius:20px;
}
}
.image-contain {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}



/* ---- GYM DETAILS ---- */
a.this-gym-details:link, a.this-gym-details:visited {
  background-color: #2d2828f0;
  border: 1px solid var(--main-color);
  color: silver;
 
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.this-gym-details:hover, a.this-gym-details:active {
  
  background-color: black;
  color: yellowgreen;
}





@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* THIS GYM DETAILS */

.details-container {
  width: 100%;
  height: 100%;
  min-height: 250px;
  position: relative;
  
}

.details-container img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  margin: auto;
}


.upvote-buttons-section.container {
  background: transparent;
  display: flex;
  box-shadow: none;
  font-family: 'Aldrich', sans-serif;
}
.upvote-buttons-section {
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border: none;
  background: greenyellow;
  box-shadow: 0 5px 0 black;
  color: black;
  font-family: 'Aldrich', sans-serif;
  padding: 0.5em 0.5em;
  position: relative;
  text-decoration: none;
}
.downvote-buttons-section {
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border: none;
  background:red;
  box-shadow: 0 5px 0 black;
  color: black;
  
  padding: 0.5em 0.5em;
  position: relative;
  text-decoration: none;
}





